.lead__caption {
    align-self: flex-start;
    min-width: 158px;
    height: 14px;
    text-align: left;
    line-height: 14px;
    font-size: 10px;
    font-weight: var(--font_weight-normal);
    font-family: Inter, sans-serif;
    color: var(--color_text-main);
    letter-spacing: 1.5px;
    margin: 8px 0 0 0;
}

@media (max-width: 928px) {
    .lead__caption {
        width: calc(100% - 16px);
        margin: 8px 0 0 16px;
    }
}